# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
parts/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
ENV/
env/
.env
.env.*
!.env.example

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/
.mypy_cache/
.coverage
.coverage.*
htmlcov/
reports/

# PyCharm / VSCode
.idea/
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints

# Logs and databases
*.log
*.sql
*.sqlite

# Profiling
.prof

# celery beat schedule file
celerybeat-schedule

# pyenv
.python-version

# mypy/typed cache
typings/

# Local settings
local_settings.py
instance/
